.loginPage_mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://res.cloudinary.com/ddffeufbq/image/upload/v1696934955/webdesys/earth-3537401_1280_1_1_qppnnz.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.loginPage_wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.loginPage_wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.loginPage_wrapper .loginPage_input-box {
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: 20px;
}

.loginPage_input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 40px 20px 20px;
}

.loginPage_input-box input::placeholder {
    color: #fff;

}

.loginPage_wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 5px 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
    color: red;
}

.loginPage_wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #333;
    font-weight: 700;
    margin-top: 50px;
}

.loginPage_wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
    color: blue;
}